<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bon.project_7">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.bon.project_7.LodingActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.bon.project_7.ExplanationActivity"></activity>
        <activity android:name="com.example.bon.project_7.LoginActivity"></activity>

        <activity android:name="com.example.bon.project_7.NavigatActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBigHXY1mM8v8q-cD5MZa6WvxFKbgO-BrA" />
        <activity android:name="com.example.bon.project_7.WorkContent"></activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>